/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/01_accordion/index.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.__01_accordion_Accordions__OpDJl .__01_accordion_container__o_Ez_ {
  border: 1px solid #ccc;
  border-bottom: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  overflow: hidden;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_tab__bh8iq {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_tab__bh8iq::before {
  content: "+";
  margin: 0 8px 0 -5px;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_description__EpBYJ {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  background-color: #eff;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_item__Lm_CG.__01_accordion_current__QyUEz .__01_accordion_tab__bh8iq {
  background-color: #ace;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_item__Lm_CG.__01_accordion_current__QyUEz .__01_accordion_tab__bh8iq::before {
  content: "-";
}
.__01_accordion_Accordions__OpDJl .__01_accordion_item2__w_bIT .__01_accordion_description__EpBYJ {
  display: none;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_item2__w_bIT.__01_accordion_current__QyUEz .__01_accordion_description__EpBYJ {
  display: block;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_item3__rL6AT {
  overflow: hidden;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_item3__rL6AT .__01_accordion_description__EpBYJ {
  padding: 0 15px;
  border-bottom-width: 0;
  max-height: 0;
  transition: ease 0.3s;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_item3__rL6AT.__01_accordion_current__QyUEz .__01_accordion_description__EpBYJ {
  padding: 15px;
  border-bottom-width: 1px;
  max-height: 300px;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_item5__YyVbZ {
  overflow: hidden;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_item5__YyVbZ .__01_accordion_input__VEDlc {
  display: none;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_item5__YyVbZ .__01_accordion_tab__bh8iq {
  display: block;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_item5__YyVbZ .__01_accordion_description__EpBYJ {
  padding: 0 15px;
  border-bottom-width: 0;
  max-height: 0;
  transition: ease 0.3s;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_item5__YyVbZ .__01_accordion_input__VEDlc:checked + .__01_accordion_tab__bh8iq {
  background-color: #ace;
}
.__01_accordion_Accordions__OpDJl .__01_accordion_item5__YyVbZ .__01_accordion_input__VEDlc:checked + .__01_accordion_tab__bh8iq::before {
  content: "-";
}
.__01_accordion_Accordions__OpDJl .__01_accordion_item5__YyVbZ .__01_accordion_input__VEDlc:checked ~ .__01_accordion_description__EpBYJ {
  padding: 15px;
  border-bottom-width: 1px;
  max-height: 300px;
}
.__01_accordion_Accordions__OpDJl details[open] summary {
  background-color: #ace;
  padding: 15px;
  border-bottom-width: 0;
}
.__01_accordion_Accordions__OpDJl details[open] .__01_accordion_description__EpBYJ {
  padding: 15px;
  border-bottom-width: 0;
}
.__01_accordion_Accordions__OpDJl summary {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.__01_accordion_Accordions__OpDJl summary::marker {
  content: "+ ";
}
.__01_accordion_Accordions__OpDJl details[open] summary::marker {
  content: "- ";
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/02_tabMenu/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_container__WbqKu {
  border: 1px solid #ccc;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabList__aqaiu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid #ccc;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tab___rhk4 {
  flex: 0 0 25%;
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tab___rhk4 + .__02_tabMenu_tab___rhk4 {
  border-left: 1px solid #ccc;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tab___rhk4.__02_tabMenu_current__7t7vs {
  background-color: #bde;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_description__DHlcO {
  padding: 15px;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu2__v0g2K .__02_tabMenu_description__DHlcO {
  display: none;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu2__v0g2K .__02_tabMenu_description__DHlcO.__02_tabMenu_current__7t7vs {
  display: block;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu3__xs14I {
  position: relative;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu3__xs14I .__02_tabMenu_item__dvqk3 {
  list-style: none;
  padding: 0;
  margin: 0;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu3__xs14I .__02_tabMenu_item__dvqk3:nth-child(1) .__02_tabMenu_tab___rhk4 {
  left: 0;
  border-left-width: 0;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu3__xs14I .__02_tabMenu_item__dvqk3:nth-child(2) .__02_tabMenu_tab___rhk4 {
  left: 25%;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu3__xs14I .__02_tabMenu_item__dvqk3:nth-child(3) .__02_tabMenu_tab___rhk4 {
  left: 50%;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu3__xs14I .__02_tabMenu_item__dvqk3:nth-child(4) .__02_tabMenu_tab___rhk4 {
  left: 75%;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu3__xs14I .__02_tabMenu_tab___rhk4 {
  position: absolute;
  top: 0;
  width: 25%;
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu3__xs14I .__02_tabMenu_description__DHlcO {
  display: none;
  padding-top: 65px;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu3__xs14I .__02_tabMenu_item__dvqk3.__02_tabMenu_current__7t7vs .__02_tabMenu_tab___rhk4 {
  background-color: #bde;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu3__xs14I .__02_tabMenu_item__dvqk3.__02_tabMenu_current__7t7vs .__02_tabMenu_description__DHlcO {
  display: block;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu5__qaOKq {
  position: relative;
  padding: 0;
  margin: 0;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu5__qaOKq .__02_tabMenu_item__dvqk3 {
  list-style: none;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu5__qaOKq .__02_tabMenu_item__dvqk3:nth-child(1) .__02_tabMenu_tab___rhk4 {
  left: 0%;
  border-left: none;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu5__qaOKq .__02_tabMenu_item__dvqk3:nth-child(2) .__02_tabMenu_tab___rhk4 {
  left: 25%;
  border-left: 1px solid #ccc;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu5__qaOKq .__02_tabMenu_item__dvqk3:nth-child(3) .__02_tabMenu_tab___rhk4 {
  left: 50%;
  border-left: 1px solid #ccc;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu5__qaOKq .__02_tabMenu_item__dvqk3:nth-child(4) .__02_tabMenu_tab___rhk4 {
  left: 75%;
  border-left: 1px solid #ccc;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu5__qaOKq .__02_tabMenu_item__dvqk3 .__02_tabMenu_input__1n8Aq {
  display: none;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu5__qaOKq .__02_tabMenu_item__dvqk3 .__02_tabMenu_input__1n8Aq:checked + .__02_tabMenu_tab___rhk4 {
  background-color: #bde;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu5__qaOKq .__02_tabMenu_item__dvqk3 .__02_tabMenu_input__1n8Aq:checked ~ .__02_tabMenu_description__DHlcO {
  display: block;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu5__qaOKq .__02_tabMenu_item__dvqk3 .__02_tabMenu_tab___rhk4 {
  position: absolute;
  top: 0;
  width: 25%;
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu5__qaOKq .__02_tabMenu_item__dvqk3 .__02_tabMenu_description__DHlcO {
  display: none;
  padding-top: 65px;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu6__TpZWj .__02_tabMenu_description__DHlcO {
  background-color: white;
  width: 0;
  height: 0;
  padding: 0;
}
.__02_tabMenu_TabMenus__pWJ2Z .__02_tabMenu_tabMenu6__TpZWj .__02_tabMenu_description__DHlcO.__02_tabMenu_current__7t7vs {
  padding: 15px;
  width: auto;
  height: auto;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/03_tooltip/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.__03_tooltip_Tooltips__FGmaO .__03_tooltip_container__7tHwM {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
.__03_tooltip_Tooltips__FGmaO .__03_tooltip_trigger__HdNr1 {
  font-size: 1rem;
  line-height: 1.3rem;
  display: inline-block;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-align: initial;
}
.__03_tooltip_Tooltips__FGmaO .__03_tooltip_trigger__HdNr1::after {
  display: inline-block;
  content: "!";
  text-align: center;
  border: 1px solid #ccc;
  width: 1rem;
  height: 1rem;
  font-size: 0.8rem;
  line-height: 1rem;
  vertical-align: text-bottom;
  border-radius: 50%;
  margin-left: 5px;
}
.__03_tooltip_Tooltips__FGmaO .__03_tooltip_tooltip__vkq42 {
  position: absolute;
  display: block;
  top: 1.4rem;
  left: 30px;
  min-width: 40vw;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 2;
}
.__03_tooltip_Tooltips__FGmaO .__03_tooltip_details__i7sqE {
  position: relative;
  margin-right: 10px;
  display: inline-block;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-left: 10px;
}
.__03_tooltip_Tooltips__FGmaO .__03_tooltip_summary__PJwmh::marker {
  content: "";
  display: none;
}
.__03_tooltip_Tooltips__FGmaO .__03_tooltip_summary__PJwmh::after {
  display: inline-block;
  content: "!";
  text-align: center;
  border: 1px solid #ccc;
  width: 1rem;
  height: 1rem;
  font-size: 0.8rem;
  line-height: 1rem;
  vertical-align: text-bottom;
  border-radius: 50%;
  margin-left: 5px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/04_textBox/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.__04_textBox_TextBoxes__BXLh9 .__04_textBox_container__PPD_7 {
  width: 50vw;
  position: relative;
}
.__04_textBox_TextBoxes__BXLh9 textarea {
  line-height: 1;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}
.__04_textBox_TextBoxes__BXLh9 .__04_textBox_clone__rsrdc {
  position: absolute;
  padding-top: 0;
  padding-bottom: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/05_lineClamp/index.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.__05_lineClamp_LineClamps__anGD0 .__05_lineClamp_content__xR2gI {
  position: relative;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  line-height: 1.67;
}
.__05_lineClamp_LineClamps__anGD0 .__05_lineClamp_text__hI4l0 {
  white-space: pre-line;
}
.__05_lineClamp_LineClamps__anGD0 .__05_lineClamp_buttonMore__0cgn8 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: 0;
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 0;
}
.__05_lineClamp_LineClamps__anGD0 .__05_lineClamp_buttonMore__0cgn8::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent #333 #333 transparent;
  transform: rotate(45deg);
  vertical-align: middle;
}
.__05_lineClamp_LineClamps__anGD0 .__05_lineClamp_content__xR2gI.__05_lineClamp_clamped__QioVZ .__05_lineClamp_text__hI4l0 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.__05_lineClamp_LineClamps__anGD0 .__05_lineClamp_text-clone__2lgNg {
  position: absolute;
  box-sizing: border-box;
  left: 10px;
  top: 10px;
  white-space: pre-line;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/06_lazyLoading/index.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
img.__06_lazyLoading_lazy__Zdc9_ {
  background-color: #cab;
}

.__06_lazyLoading_image__Muiry {
  transition: opacity 0.7s ease-in-out;
}

.__06_lazyLoading_container__mD58V {
  background-color: rgb(207, 207, 207);
  background-size: 100% 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.__06_lazyLoading_container__mD58V::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: -1;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/07_infiniteScroll/index.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@keyframes __07_infiniteScroll_rotate__7D_XI {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.__07_infiniteScroll_spinner__RHw8g {
  display: block;
  width: 36px;
  margin: 0 auto;
}
.__07_infiniteScroll_spinner__RHw8g::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 6px solid #aaa;
  border-color: #aaa transparent #aaa transparent;
  animation: __07_infiniteScroll_rotate__7D_XI 1.2s linear infinite;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/08_scrollBox/index.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.__08_scrollBox_scrollBox__TzTj_ {
  position: relative;
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_list__folIY {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: auto;
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_item__PrSXw {
  flex: 0 1;
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_observer__6eDa0 {
  flex: 0 0 1px;
  margin-right: -1px;
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_nav-button__46ytK {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 0;
  border-radius: 5px;
  display: none;
  cursor: pointer;
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_nav-button__46ytK.__08_scrollBox_on__AD6jk {
  display: block;
  opacity: 0.4;
  transition: opacity ease-out 0.2s;
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_nav-button__46ytK.__08_scrollBox_on__AD6jk:hover {
  opacity: 1;
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_nav-button__46ytK::before, .__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_nav-button__46ytK::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 12px;
  background-color: #fff;
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_nav-button__46ytK::before {
  top: calc(50% - 10px);
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_nav-button__46ytK::after {
  top: calc(50% + 2px);
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_nav-button__46ytK.__08_scrollBox_prev__xclzJ {
  left: 0;
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_nav-button__46ytK.__08_scrollBox_prev__xclzJ::before {
  left: 13px;
  transform-origin: 0 100%;
  rotate: 30deg;
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_nav-button__46ytK.__08_scrollBox_prev__xclzJ::after {
  left: 13px;
  transform-origin: 0 0;
  rotate: -30deg;
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_nav-button__46ytK.__08_scrollBox_next__ayzPd {
  right: 0;
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_nav-button__46ytK.__08_scrollBox_next__ayzPd::before {
  right: 13px;
  top: calc(50% - 10px);
  transform-origin: 100% 100%;
  rotate: -30deg;
}
.__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_nav-button__46ytK.__08_scrollBox_next__ayzPd::after {
  right: 13px;
  top: calc(50% + 2px);
  transform-origin: 100% 0;
  rotate: 30deg;
}

.__08_scrollBox_ScrollBoxPage__dEHSJ .__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_item__PrSXw {
  margin-left: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.__08_scrollBox_ScrollBoxPage__dEHSJ .__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_item__PrSXw:nth-of-type(2) {
  margin-left: 0;
}
.__08_scrollBox_ScrollBoxPage__dEHSJ .__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_item__PrSXw img {
  border-radius: 5px;
}
.__08_scrollBox_ScrollBoxPage__dEHSJ .__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_item__PrSXw span {
  display: block;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}
.__08_scrollBox_ScrollBoxPage__dEHSJ .__08_scrollBox_scrollBox__TzTj_ .__08_scrollBox_observer__6eDa0 {
  flex: 0 0 1px;
  margin-right: -1px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/.pnpm/next@14.0.3_react-dom@18.0.0_react@18.0.0_sass@1.69.5/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/09_scrollSpy/index.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_floatingHeader__R5Yuh {
  position: -webkit-sticky;
  position: sticky;
  box-sizing: border-box;
  margin: -20px -20px 0;
  top: -60px;
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_title__G7W0e {
  margin: 0;
  padding: 0 20px;
  height: 60px;
  font-size: 1.5rem;
  line-height: 60px;
  top: 0;
  background-color: #f0f0f0;
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_nav__XU5S8 {
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  list-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid #555;
  background-color: #f0f0f0;
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_nav__XU5S8::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_nav__XU5S8:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_navItem__S8MK8 button {
  display: block;
  line-height: 44px;
  padding: 0 15px;
  border: 0;
  color: #666;
  font-size: 1.25rem;
  background-color: transparent;
  transition: ease-out 0.2s;
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_navItem__S8MK8 button:hover {
  background-color: #ccc;
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_navItem__S8MK8.__09_scrollSpy_current__TQ4Xf button {
  font-weight: 700;
  color: #fff;
  background-color: #479;
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_listItem__4uasj {
  overflow: hidden;
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_listItem__4uasj h4 {
  margin: 0;
  padding: 10px 0;
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_nav__XU5S8.__09_scrollSpy_with-scrollbox__gBXuI {
  padding: 0;
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_nav__XU5S8.__09_scrollSpy_with-scrollbox__gBXuI ul {
  padding: 0 20px;
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_nav__XU5S8.__09_scrollSpy_with-scrollbox__gBXuI ul::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_nav__XU5S8.__09_scrollSpy_with-scrollbox__gBXuI ul:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_nav__XU5S8.__09_scrollSpy_with-scrollbox__gBXuI li button {
  display: block;
  line-height: 44px;
  padding: 0 15px;
  border: 0;
  color: #666;
  font-size: 1.25rem;
  background-color: transparent;
  transition: ease-out 0.2s;
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_nav__XU5S8.__09_scrollSpy_with-scrollbox__gBXuI li button:hover {
  background-color: #ccc;
}
.__09_scrollSpy_ScrollSpy__4aSCl .__09_scrollSpy_nav__XU5S8.__09_scrollSpy_with-scrollbox__gBXuI .current button {
  font-weight: 700;
  color: #fff;
  background-color: #479;
}
